@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    margin: 0;
    background-image: white;
}

h1{
    position: absolute;
    top: 0;
    text-align: top;
    padding-top: 100px;
    color:black;
}

.trafficlight{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 80px;
    padding: 20px 0;
    border-radius: 20px;
    background-color: #333333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.light{
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: #1d1d1d;
    margin: 10px auto;
}

.light.red{
    background-color: #FF4444;
    box-shadow: 0 0 60px 10px #FF4444;
}

.light.yellow{
    background-color: #FFBB33;
    box-shadow: 0 0 60px 10px #FFBB33;
}

.light.green{
    background-color: #33CC33;
    box-shadow: 0 0 60px 10px #33CC33;
}